.social-list .icon-content a{
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #ffff;
    transition: all 0.3s ease-in-out;
}
.social-list .icon-content a:hover{
    box-shadow: 3px 2px 45px 0px rgb(0 0 0/12%);
    
}